<div class="row">
  <div class="col-md-12">
    <h2 *ngIf="contact?._id">User Details</h2>
    <h2 *ngIf="!contact._id">New User</h2>
  </div>
</div>
<div class="user-list-box">
  <div class="row">
    <form class="col-md-12">
      <div class="form-group">
        <label for="user-name">Name</label>
        <input class="form-control" name="user-name" [(ngModel)]="contact.name" placeholder="Name" />
      </div>
      <div class="form-group">
        <label for="user-email">Email</label>
        <input class="form-control" name="user-email" [(ngModel)]="contact.email" placeholder="support@mlab.com" />
      </div>
      <div class="form-group">
        <label for="user-ssn">SSN</label>
        <input class="form-control" name="user-ssn" [(ngModel)]="contact.ssn" placeholder="ssn" />
      </div>
      <div class="form-group">
        <label for="user-phone-mobile">Mobile</label>
        <input class="form-control" name="user-phone-mobile" [(ngModel)]="contact.phone.mobile"
          placeholder="1234567890" />
      </div>

      <button class="btn btn-primary" *ngIf="!contact._id" (click)="createContact(contact)">Create</button>
      <button class="btn btn-info" *ngIf="contact._id" (click)="updateContact(contact)">Update</button>
      &nbsp;
      <button class="btn btn-danger" *ngIf="contact._id" (click)="deleteContact(contact._id)">Delete</button>
    </form>
  </div>
</div>